/*Reference*/
.reference{
    color: black;
    text-decoration: underline;
    font-size: 25px;
  }

  .reference_opis{
    text-decoration: none;
    font-size: 20px;
  }
  
.reference_naslov{
    font-size: 45px;
    text-decoration: underline;
    text-shadow: 2px 2px rgb(110, 210, 125);
}

.vr {
    border: 2px solid #000;
    height: 100%;
    }

  .container {
      position: relative;
      background-color: white;
      padding-top: 30px;
      padding-bottom: 30px;
    }
  
    .container::before { /*Postavljanje boje iznad kontejnera*/
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 25px;
      background-color: rgb(154, 157, 244);
      z-index: 1;
    }
  
    .container::after { /*Postavljanje boje ispod kontejnera*/
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 25px;
      background-color: rgb(154, 157, 244);
      z-index: 1;
    }

  
  
/* Footer */

.footer-center { 
  text-align: center;
  color: #05041c;
  }
  
  .footer_ime_tvrtke{
    background-color: rgba(5, 55, 17, 0.2);
    color: #05041c;
    font-size: 22px;
  }
  
    /* Header */
  .inpowerservicelogo{
    float:left;
  }
  
  .header-center { 
  font-size: 50px;
  flex-grow: 1; /* Proširuje se na raspoloživi prostor */
  text-align: center;
  margin: auto;
  }
  
  
  .header {
    overflow: hidden;
    background-image: linear-gradient(to right, rgba(49, 104, 47, 0), rgb(110, 210, 125));
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
    }
  
  
  /* Header links */
  .header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration:none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
  }
  
  
  .header a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .header-right {
    margin-top: auto; /* Pomiče se na dno */
    text-align: center;
  }
  
  .header-right ul {
    list-style-type: none;
    padding: 0;
    font-size: 30px;
  }
  
  .header-right ul li {
    display: inline-block;
    margin-right: 10px;
  }
  
  /* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }
  }